// Bulma overwrites
$primary: #2c73d2;
$family-primary: "Instrument Sans";

// My variables
$family-headline: "Gloock";
$light-blue: #c4dcff;
$border-radius: 0.8rem;
$content-width-desktop: 50vw;
$content-width-mobile: 90vw;

@use "bulma/sass" with (
  $family-primary: $family-primary,
  $primary: $primary,
  $navbar-background-color: transparent,
  $navbar-height: 0,
  $modal-content-spacing-mobile: 0
);

// mixins

@mixin fix-to-left-top {
  top: 0;
  left: 0;
}

// styling

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: $family-headline;
}

h2,
h3,
#modal_technologies,
#modal_description,
#see_project,
#about_me_text,
a {
  color: $primary;
}

#home {
  background-color: $light-blue;
  overflow: hidden;
}

#follower {
  width: $content-width-desktop;
  aspect-ratio: 1/1;
  border-radius: 100%;
  filter: blur(5rem);
  position: absolute;
  @include fix-to-left-top;
}

#home_content,
nav,
#arrow {
  z-index: 1;
}

#arrow {
  width: 3rem;
}

#arrow:hover {
  animation: move-down 300ms ease-out forwards;
}

.project-button {
  width: $content-width-desktop;
  border-radius: $border-radius;
  overflow: hidden;
}

.button-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, $primary);
  @include fix-to-left-top;
}

.button-overlay,
.project-image {
  pointer-events: none;
}

.modal-content {
  background-color: white;
  border-radius: $border-radius;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
}

#modal_top_wrapper,
#about_me_headline {
  background-image: linear-gradient($primary, $light-blue);
}

#modal_technologies_container,
#modal_description,
#see_project {
  padding: 1.5rem 3rem;
}

#project_link {
  text-decoration: underline;
}

#about_me_text {
  width: $content-width-desktop;
  margin: 0 auto 5rem auto;
}

#about_me_text p {
  margin-top: 1rem;
}

// animation

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}

// media queries

@media screen and (max-width: 48rem) {
  #follower {
    top: 50%;
    right: 0;
    width: $content-width-mobile;
    transform: translateY(-50%);
  }

  .project-button {
    width: 100%;
  }

  .modal-content {
    height: 90vh;
    width: auto;
  }

  #modal_technologies_container,
  #modal_description,
  #see_project {
    padding: 1.5rem;
  }

  #about_me_text {
    width: $content-width-mobile;
  }
}
