$family-headline: "Gloock";
$primary: #2c73d2;
$light-blue: #c4dcff;

@use "bulma/sass" with (
  $family-primary: "Instrument Sans",
  $primary: $primary,
  $navbar-background-color: transparent,
  $navbar-height: 0,
  $modal-content-spacing-mobile: 0
);

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: $family-headline;
}

h2,
h3,
#modal_technologies,
#modal_description,
#see_project,
#about_me_text,
a {
  color: $primary;
}

#home {
  background-color: $light-blue;
  overflow: hidden;
}

#follower {
  width: 50vw;
  aspect-ratio: 1/1;
  border-radius: 100%;
  filter: blur(5rem);
  position: absolute;
  top: 0;
  left: 0;
}

#home_content,
nav,
#arrow {
  z-index: 1;
}

#arrow:hover {
  animation: move-down 300ms ease-out forwards;
}

.project-button {
  width: 50vw;
  border-radius: 0.8rem;
  overflow: hidden;
}

.button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, $primary);
}

.button-overlay,
.project-image {
  pointer-events: none;
}

.modal-content {
  background-color: white;
  border-radius: 0.8rem;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
}

#modal_top_wrapper {
  background-image: linear-gradient($primary, $light-blue);
}

#modal_technologies_container,
#modal_description,
#see_project {
  padding: 1.5rem 3rem;
}

#project_link {
  text-decoration: underline;
}

#about_me_headline {
  background-image: linear-gradient($primary, $light-blue);
}

#about_me_text {
  width: 50vw;
  margin: 0 auto 5rem auto;
}

#about_me_text p {
  margin-top: 1rem;
}

// animation

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}

@media screen and (max-width: 48rem) {
  #follower {
    top: 0;
    right: 0;
  }

  .project-button {
    width: 100%;
  }

  .modal-content {
    height: 90vh;
    width: auto;
  }

  #modal_technologies_container,
  #modal_description,
  #see_project {
    padding: 1.5rem;
  }

  #about_me_text {
    width: 90vw;
  }
}
